<head>        
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sprints/base_form.css' %}">
    <script src='{% static "sprints/base_form.js" %}'></script>   

</head>
<body>
        <div class="header">
            <a href="{% url 'tree' %}" class="logo"><img src='{% static "sprints/tni_logo.png" %}' width='200px'></a>
            <div class="header-right">
            <a class="active toplinks" href="#home">Home</a>
            </div>
        </div>

        <div id="regForm" action="">
            <div class='meter' style="text-align:center; margin-bottom: 80px;">
                <span id='pointsBar' style="width: 0px"></span>
            </div>
            <div>
                <img src='{% static "sprints/gingerbeard.svg" %}' style="width:75px; vertical-align: top; margin-right: 10px;">
                <div style="background-color: rgb(237, 237, 237); border-radius: 50px; padding: 20px; display: inline-block; vertical-align: top;" id="question" >
                    Register for your shiny new account
                </div>
                <div>
                    <form method='POST'>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button>Register</button>
                    </form>
                </div>

            </div>

            <div style="margin-top: 100px; margin-bottom: 20px;">
                <div style="text-align: right;">
                    <button type="button" id="confirmNameButton" onclick="confirmName()" class='button'>Confirm</button>
                    <button type="button" id="checkButton" onclick="checkAnswer(1)" class='button hidden'>Check answer</button>
                    <button type='button' id='nextButton' onclick='nextQuestion()' class='nextButton hidden'>Next question</button>


                </div>
            </div>

        </div>
        <div class="hidden success" id="success">
            <h1>Correct!</h1>
        </div>
        <div class="hidden wrong" id="incorrect">
            <h1>Try again</p>
        </div>

        <div id='finishLine' class='hidden finishLine' style='margin: auto'>
            <div style='width: 300px; margin: auto;'>
                <img src='{% static "sprints/edwin.svg" %}' style="width:300px;">
            </div>
            <div style='background-color: rgb(150, 241, 150); color:rgb(0, 105, 0);border-radius: 20px; padding:30px; width: 75%; '><span style='font-weight: bold; font-size: 30px;'>You did it!</span><br><span style='font-size: 20px;'>and earned 25 coins!</span>
                <a style='float:right' id='finishLineButton' class='finishLineButton' href="{% url 'tree' %}">Onwards!</a>

            </div>

           
        
        </div>
</body>