<head>        
    {% load static %}
    {% load widget_tweaks %} 

    <link rel="stylesheet" type="text/css" href="{% static 'sprints/base_form.css' %}">
    <script src='{% static "sprints/base_form.js" %}'></script>  
      
    <meta name="viewport" content="width=device-width">


</head>
<body style='margin:0px;padding: 0px;'>
        <div class="header">
            <a href="{% url 'some_tree' %}" class="logo"><img src='{% static "sprints/tni_logo.png" %}' width='150px'></a>
            <div class="header-right">
            <a class="active toplinks" href="#home">Home</a>
            </div>
        </div>

        <div id="regForm" style='max-width:400px ;margin:80px auto'>
            
            <div>
                <div style='text-align:center'><h2>Register</h2></div>
                <div>
                    <form method='POST'>
                        {% csrf_token %}
                        {% render_field form.username placeholder='Username' class='loginField' %}
                        {% render_field form.password1 placeholder='Password' class='loginField' %}
                        {% render_field form.password2 placeholder='Confirm Password' class='loginField' %}
                        {{ form.username.errors }}
                        {{ form.password1.errors }}
                        {{ form.password2.errors }}
                        <button class='button oy-button' style='width: 100%; margin:20px 0px'>Log in</button>
                    </form>
                </div>

            </div>

</body>