<head>        
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sprints/base_form.css' %}">
  
    <meta name="viewport" content="width=device-width">

</head>
<body>
    <div class="header">
        <a href="{% url 'some_tree' %}" class="logo"><img src='{% static "sprints/tni_logo.svg" %}' width='150px'></a>
        <div class="header-right">
        <a class="active toplinks" href="#home">Home</a>
        </div>

    </div>
    <div class='paraBody'>
        I hated math as a kid. I did everything you’re supposed to: I did my homework, took extra math lessons outside 
        of school, had it explained to me over and over again. I got alright grades, but only because I could memorize the 
        answers - it never actually <i>clicked.</i><br><br>

        In grade 10, questions became more complex, and memorizing answers didn’t work anymore. I ran into a wall, and my 
        grades slipped in a major way. So I started avoiding math altogether. Beyond that though, I started 
        believing that <i>I just wasn’t good at that type of thing. </i><br><br>

        It wasn’t until I was in my 20s and was teaching myself to develop software, that I realized that math and logic 
        problems could be fun, and satisfying - but you need to <i>get</i> them, from the ground up.<br><br>

        Math, science and engineering are intimidating because of the way we teach them. If we want our kids to become the 
        next generation of great engineers, architects, and astronauts, we have to help them to be great at math, not just 
        memorize the answers.<br><br>

        Welcome to The Nuernberger Institute.
        <div style='text-align: right; padding: 20px;'>
            <img src='{% static "sprints/signature.svg" %}' width="100px">
        </div>
        
        <div style='text-align: center; padding:40px'> 
            <button class='button gg-button' onclick='window.location.href="{% url 'register' %}"'>Join for free</button>     
        </div>

    </div>