{% if user.is_authenticated %}

<head> 

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sprints/base_form.css' %}">
    <script src="{% static 'base_form.js' %}"></script>   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>
<body style='margin:0px;padding: 0px;'>
    <div class="header">
        <a href="{% url 'tree' %}" class="logo"><img src='{% static "sprints/tni_logo.png" %}' width='100px'></a>
        <div class="header-right">
        <a class="active toplinks" href="#home">Home</a>
        </div>
    </div>
    </div>
    <div style="margin: auto; width: 10%; min-width: 100px;">
        <a href='{% url "sprint" 1 %}' class = 'node'><img src='{% static "sprints/gingerbeard.svg" %}' style='width:100%'></a>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div style="margin: auto; width: 10%; min-width: 100px;">
        <img src='{% static "sprints/gingerbeard.svg" %}' style='width:100%'>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div style="margin: auto; width: 10%; min-width: 100px;">
        <img src='{% static "sprints/gingerbeard.svg" %}' style='width:100%'>
        <br>
        <br>
        <br>
        <br>
    </div>



</body>
{% else %}

{% endif %}