{% if user.is_authenticated %}

<head> 

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sprints/base_form.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>
<body style='margin:0px;padding: 0px;'>
    <div class="header">
        <a href="{% url 'tree' student.id %}" class="logo"><img src='{% static "sprints/tni_logo.svg" %}' width='150px'></a>
        <div class="header-right">
            <div class="student-select"><span>{{ student.student_name }}{{ user.id }}{{ student.user }}{{request.user}}{{ student.user.id }}</span>
            <div class="selectStudent">
                <ul class='button ww-button'>
                    {% for s in students %}
                    <li><a href='{% url "tree" s.id %}'>{{ s.student_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            </div>
            <!--
        <button id='selectStudent' class='button ww-button' onclick='selectStudentDropDown()'>{{ student.student_name }}</button>
            <div id='studentMenu' class='dropdown-content hidden'>
                <a>Leah</a>
                <a>Sam</a>
            </div>

        -->
        </div>

    </div>
    <div style="margin: auto; width: 10%; min-width: 100px;">
        <a href='{% url "sprint" arithmetic_next_unit.id %}' class = 'node'><img src='{% static "sprints/gingerbeard.svg" %}' style='width:100%'></a>
        <div>
            {{ arithmetic_next_unit.id }}{{ student.student_name }}{{ student.arithmetic_level }} {% for cat in categories %}{{ cat.category_name }} {% endfor %} 44 {{ student.student_name }} 
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div style="margin: auto; width: 10%; min-width: 100px;">
        <img src='{% static "sprints/gingerbeard.svg" %}' style='width:100%'>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div style="margin: auto; width: 10%; min-width: 100px;">
        <img src='{% static "sprints/gingerbeard.svg" %}' style='width:100%'>
        <br>
        <br>
        <br>
        <br>
    </div>
    <script src='{% static "sprints/base_form.js" %}'></script> 




</body>
{% else %}

{% endif %}