{% if user.is_authenticated %}

<head> 

    {% load static %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'sprints/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'sprints/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'sprints/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'sprints/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static 'sprints/base_form.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>
<body style='margin:0px;padding: 0px;'>
    <div class="header">
        <div style='text-align: left; display: inline-block;'>
            <a href="{% url 'tree' student.id %}" class="logo"><img src='{% static "sprints/logo.svg" %}' width='150px'></a>
        </div>

        <div class="header-right" style='display: flex;'>
            <div class='topBarWords'>
                <img src='{% static "sprints/diamond.svg" %}' height='20px' style='vertical-align: bottom;'>
                <div style='display: inline-block;'>
                    {{ points }} points
                </div>
            </div>
            <div class='topBarWords'>
                <img src='{% static "sprints/fire.svg" %}' height='20px' style='vertical-align: bottom;'>
                <div style='display: inline-block;'>
                    3 day streak
                </div>
            </div>
            <div class='studentSelectorDiv'>
                <div class="student-select">
                    <span>{{ student.student_name }}<img src='{% static "sprints/down.svg" %}' width=15px style='padding-left: 10px;'></span>
                <div class="selectStudent">
                    <table class='selectStudentList'>
                        {% for s in students %}
                        <tr><td class='selectStudentButton'><a href='{% url "tree" s.id %}'>{{ s.student_name }}</a></td></tr>
                        {% endfor %}
                        <tr><td class='selectStudentButton' ><a style='font-weight: 400;' href='{% url "students" %}'>Add student +</a></td></tr>
                        <tr><td class='selectStudentButton'><a style='font-weight: 400;' href='{% url "logout" %}'>Log Out</a></td></tr>
                    </table>
                </div>
                </div>
            </div>
            <!--
        <button id='selectStudent' class='button ww-button' onclick='selectStudentDropDown()'>{{ student.student_name }}</button>
            <div id='studentMenu' class='dropdown-content hidden'>
                <a>Leah</a>
                <a>Sam</a>
            </div>

        -->
        </div>

    </div>
    <div style="margin: auto; width: 300px; text-align: center; font-weight: 700;">
            <div style='padding-bottom: 5px;'>
            Addition
            </div>
            <div onclick="location.href='{% url "sprint" student.id arithmetic_next_unit %}'" class='node'>
                <img src='{% static "sprints/plusIcon.svg" %}' style='width:100px;'>
            </div>
            <button onclick="location.href='{% url "sprint" student.id arithmetic_next_unit %}'" class='coin-button' style='position: relative; bottom:15px; left:30px'>
                {{ arithmetic_level_display }}
            </button>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div style="margin: auto; width: 300px; text-align: center; font-weight: 700;">
        <div style='padding-bottom: 5px;'>
        Subtraction
        </div>
        <div onclick="location.href='{% url "sprint" student.id arithmetic_next_unit %}'" class='node'>
            <img src='{% static "sprints/subtractIcon.svg" %}' style='width:100px;'>
        </div>
        <button onclick="location.href='{% url "sprint" student.id arithmetic_next_unit %}'" class='coin-button' style='position: relative; bottom:15px; left:30px'>
            1
        </button>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div style="margin: auto; width: 300px; text-align: center; font-weight: 700;">
        <div style='padding-bottom: 5px;'>
        Multiplication
        </div>
        <div onclick="location.href='{% url "sprint" student.id arithmetic_next_unit %}'" class='node'>
            <img src='{% static "sprints/multiplyIcon.svg" %}' style='width:100px;'>
        </div>
        <button onclick="location.href='{% url "sprint" student.id arithmetic_next_unit %}'" class='coin-button' style='position: relative; bottom:15px; left:30px'>
            5
        </button>
    <br>
    <br>
    <br>
    <br>
    </div>
    <div style="margin: auto; width: 300px; text-align: center; font-weight: 700;">
        <div style='padding-bottom: 5px;'>
        Division
        </div>
        <div onclick="location.href='{% url "sprint" student.id arithmetic_next_unit %}'" class='node'>
            <img src='{% static "sprints/divideIcon.svg" %}' style='width:100px;'>
        </div>
        <button onclick="location.href='{% url "sprint" student.id arithmetic_next_unit %}'" class='coin-button' style='position: relative; bottom:15px; left:30px'>
            2
        </button>
        <br>
        <br>
        <br>
        <br>    
    </div>
    <script src='{% static "sprints/base_form.js" %}'></script> 




</body>
{% else %}

{% endif %}